<div class="unselectable">
  <h2>Aktuelle Gewinn- und Verlustrechung</h2>

  <!-- <div class="guv-display-container"> -->

    <div class="guv-display-positive" *ngIf="positive">
      <h3 class="amount">{{ amount }}</h3>
    </div>
    <div class="guv-display-neutral" *ngIf="neutral">
      <h3 class="amount">{{ amount }}</h3>
    </div>
    <div class="guv-display-negative" *ngIf="negative">
      <h3 class="amount">{{ amount }}</h3>
    </div>

  <!-- </div> -->

</div>
<br>
<div>
  <div class="row">
    <div class="col-sm">
      <div class="chart">
        <h2>Materialbestand</h2>
        <apx-chart [series]="matChartOptions.series" [chart]="matChartOptions.chart" [xaxis]="matChartOptions.xaxis">
        </apx-chart>
        <!-- <img src="../assets/lager.jpeg"> -->
      </div>
    </div>
    <div class="col-sm">
      <div class="chart">
        <h2>Produktbestand</h2>
        <apx-chart [series]="prodChartOptions.series" [chart]="prodChartOptions.chart" [xaxis]="prodChartOptions.xaxis">
        </apx-chart>
      </div>
    </div>
  </div>
</div>
<br>
<!-- <div class="container"> -->
  <h2>Aufträge</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Auftrags-ID</th>
          <th scope="col">Kunden-ID</th>
          <th scope="col">Waren</th>
          <th scope="col">Status</th>
          <th scope="col">Gesamtpreis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders" scope="row">
          <td>{{order.orderId}}</td>
          <td>{{order.customerId}}</td>
          <td>
            <ul *ngFor="let item of order.items">
              <li>{{item.number}} x {{item.identifier}}</li>
            </ul>
          </td>
          <td>{{order.status}}</td>
          <td class="amount">{{order.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->
<br>
<!-- <div class="container"> -->
  <h2>Getätigte Lieferungen</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Auftrags-ID</th>
          <th scope="col">Kunden-ID</th>
          <th scope="col">Waren</th>
          <th scope="col">Status</th>
          <th scope="col">Gesamtpreis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersDone" scope="row">
          <td>{{order.orderId}}</td>
          <td>{{order.customerId}}</td>
          <td>
            <ul *ngFor="let item of order.items">
              <li>{{item.number}} x {{item.identifier}}</li>
            </ul>
          </td>
          <td>{{order.status}}</td>
          <td class="amount">{{order.totalPrice}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->